.main-container {
  display: flex;
  width: 100%;
  flex-direction: row;

  .beer-container {
    display: flex;
    width: 80%;
    padding: 20px 5%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    .beer-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 10%;
    }
    
  }

  .button-element {
    display: flex;
    width: 10%;

    button {
      position: fixed;
    }
  }

}



