

a {
  color: #000;
  text-decoration: none;
}

.main-container {
  display: flex;
  width: 100%;
  flex-direction: row;

  .beer-container {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    .beer-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .button-element {
    display: flex;
    width: 10%;

    button {
      position: fixed;
    }
  }

}


@media  screen and (max-width: 1920px) {
  .beer-element {
    height: 300px;
  }
}


